# Task 4.9.1: Intro to Data Visualization with Python. Part 1.

## 1. Import libraries and 'customers' data set.

## 2. Checking for missing values.

## 3. Checking for duplicates.

## 4. Rename columns.

## 5. Checking for mixed data.

## 6. Import 'ords_prods_grouped' dataframe.

## 7. Merge dataframes

## 1. Import libraries and 'customers' data set.

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r"C:\Users\azikb\Downloads\Data Immersion. Assiginment 4. Python. Instacart Basket Analysis"

In [3]:
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [4]:
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

## 2. Checking for missing values.

In [5]:
# Checking for missing values
customers.isnull().sum()

user_id             0
First Name      11259
Surnam              0
Gender              0
STATE               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

#### As we can see, columns First Name has 11 259 missing rows.

## 3. Checking duplicates.

In [6]:
# Droping duplicates
customers_no_dups = customers.drop_duplicates()

In [7]:
customers_no_dups.shape

(206209, 10)

In [8]:
customers.shape

(206209, 10)

In [9]:
customers = customers_no_dups

##### There are no duplicates in data set

## 4. Rename columns

In [10]:
# Rename the columns
customers.rename(columns = {'First Name':'first_name'}, inplace = True)

In [11]:
customers.rename(columns = {'Surnam':'second_name', 'Gender':'gender'}, inplace = True)

In [12]:
customers.rename(columns = {'STATE':'state', 'Age':'age'}, inplace = True)

In [13]:
customers.rename(columns = {'n_dependants':'num_of_dependants', 'fam_status':'family_status'}, inplace = True)

In [14]:
customers.head()

,user_id,first_name,second_name,gender,state,age,date_joined,num_of_dependants,family_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

## 5. Checking for mixed data

In [15]:
# Cheching for mixed data
for col in customers.columns.tolist():
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

C:\Users\azikb\AppData\Local\Temp\ipykernel_9656\3899578504.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\azikb\AppData\Local\Temp\ipykernel_9656\3899578504.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\azikb\AppData\Local\Temp\ipykernel_9656\3899578504.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\azikb\AppData\Local\Temp\ipykernel_9656\3899578504.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\azikb\AppData\Local\Temp\ipykernel_9656\3899578504.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\azikb\AppData\Local\Temp\ipykernel_9656\3899578504.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)

first_name

C:\Users\azikb\AppData\Local\Temp\ipykernel_9656\3899578504.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\azikb\AppData\Local\Temp\ipykernel_9656\3899578504.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\azikb\AppData\Local\Temp\ipykernel_9656\3899578504.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\azikb\AppData\Local\Temp\ipykernel_9656\3899578504.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)

In [16]:
customers['first_name'].dtype

dtype('O')

In [17]:
# Let's change the type of column 'first_name'
customers['first_name'] = customers['first_name'].astype('str')

In [18]:
customers.dtypes

user_id               int64
first_name           object
second_name          object
gender               object
state                object
age                   int64
date_joined          object
num_of_dependants     int64
family_status        object
income                int64
dtype: object

## 6. Import 'ords_prods_merge' dataframe.

In [19]:
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_grouped.pkl'))

# 7. Merge dataframes

In [20]:
ords_prods_merged.drop(columns = ['_merge'])

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,avg_price,Spending_flag,days_since_prior_order_median,Frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,Mid-range product,Regulary days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent Customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent Customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent Customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent Customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent Customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,...,3.7,Low-range product,Regulary days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent Customer
32404855,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,...,3.7,Low-range product,Regulary days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent Customer
32404856,758936,203436,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",...,6.9,Mid-range product,Regulary days,Average orders,3,New customer,7.631579,Low spender,15.0,Regular customer
32404857,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",...,6.9,Mid-range product,Slowest days,Fewest orders,3,New customer,7.631579,Low spender,15.0,Regular customer
32404858,3093936,205420,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,...,10.3,Mid-range product,Slowest days,Most orders,16,Regular customer,7.684746,Low spender,13.0,Regular customer

In [22]:
ords_prods_merged.dtypes

order_id                            int64
user_id                             int64
order_number                        int64
order_day_of_week                   int64
order_hour_of_day                   int64
days_since_prior_order            float64
product_id                          int64
add_to_cart_order                   int64
reordered                           int64
product_name                       object
aisle_id                            int64
department_id                       int64
prices                            float64
_merge                           category
price_range_loc                    object
busiest_day                        object
busiest_period_of_day              object
max_order                           int64
loyalty_flag                       object
avg_price                         float64
Spending_flag                      object
days_since_prior_order_median     float64
Frequency_flag                     object
dtype: object

In [23]:
customers.dtypes

user_id               int64
first_name           object
second_name          object
gender               object
state                object
age                   int64
date_joined          object
num_of_dependants     int64
family_status        object
income                int64
dtype: object

In [24]:
# Change data type in ords_prods_merged dataframe
ords_prods_merged['user_id'] = ords_prods_merged['user_id'].astype('str')

In [25]:
# Change daya type in customers dataframe
customers['user_id'] = customers['user_id'].astype('str')

#### Merging two dataframes based on 'user_id'

In [26]:
orders_products_all = ords_prods_merged.merge(customers, on = 'user_id')

In [27]:
orders_products_all.shape

(32404859, 32)

In [28]:
orders_products_all.head(2)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,Frequency_flag,first_name,second_name,gender,state,age,date_joined,num_of_dependants,family_status,income
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Non-frequent Customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Non-frequent Customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [29]:
# exporting pkl.file from Jupiter
orders_products_all.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all.pkl'))

In [30]:
# Check inner join value counts
orders_products_all['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64